<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kivi.huidada.mapper.TestPaperMapper">

    <resultMap id="BaseResultMap" type="com.kivi.huidada.model.entity.TestPaper">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="testName" column="test_name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="questionContent" column="question_content" jdbcType="VARCHAR"/>
            <result property="isAi" column="is_ai" jdbcType="TINYINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="bgPicture" column="bg_picture" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="scoringStrategyType" column="scoring_strategy_type" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
            <result property="reviewMessage" column="review_message" jdbcType="VARCHAR"/>
            <result property="reviewStatus" column="review_status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,test_name,description,
        question_content,is_ai,user_id,
        user_name,bg_picture,type,
        scoring_strategy_type,create_time,update_time,
        is_delete, review_message, review_status
    </sql>
</mapper>
